<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information about artist</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
</head>
<body>
    <h1 th:text="${artist.name}"></h1>
    <table class="table table-dark table-header table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="al : ${artist.albums}">
                <td th:text="${al.id}"></td>
                <td th:text="${al.title}"></td>
            </tr>
        </tbody>
    </table>
    <script  th:href="@{/webjars/bootstrap/5.3.2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>